# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=secure_password_here
POSTGRES_DB=ratones_lab
DB_HOST=localhost
DB_PORT=5432

# PgAdmin Configuration
PGADMIN_DEFAULT_EMAIL=admin@ratones.com
PGADMIN_DEFAULT_PASSWORD=admin

# Email Configuration
GMAIL_SENDER_EMAIL=your_email@gmail.com
GMAIL_APP_PASSWORD=your_app_password
